<div class="flex flex-col justify-between overflow-hidden rounded-xl text-jw-black">
  <div class="p-4 bg-jw-san-marino">
    <h2 class="flex justify-between text-lg font-medium text-jw-white"><%= field_service_report.publisher.name %>
      <% if field_service_report.publisher.service_privilege.present? %>
        <span class="inline-flex items-center rounded-md bg-jw-bunting/50 px-2 py-1 text-xs font-medium text-jw-white ring-1 ring-inset ring-jw-bunting"><%= t("publishers.service_privilege.#{ field_service_report.publisher.service_privilege.name.parameterize(separator: '_') }") %></span>
      <% end %>
    </h2>
  </div>

  <div class="h-full px-4 py-2 bg-jw-seashell divide-y divide-jw-san-marino/20">
    <div class="py-2">
      <p class="flex justify-between text-sm leading-6">
        <span class="text-jw-bokara-gray/50"><%= t("field_service_reports.new.shared_in_ministry") %></span>
        <span class="text-jw-bokara-gray"><%= inline_svg_tag "icons/outline/#{field_service_report.shared_in_ministry ? 'success' : 'error'}.svg", class: "w-6" %></span>
      </p>
    </div>

    <% if field_service_report.shared_in_ministry %>
      <div class="py-2">
        <p class="flex justify-between text-sm leading-6">
          <span class="text-jw-bokara-gray/50"><%= t("field_service_reports.new.bible_studies") %></span>
          <span class="text-jw-bokara-gray"><%= field_service_report.bible_studies ? field_service_report.bible_studies : "0" %></span>
        </p>
      </div>
    <% end %>

    <% if field_service_report.hours %>
      <div class="py-2">
        <p class="flex justify-between text-sm leading-6">
          <span class="text-jw-bokara-gray/50"><%= t("field_service_reports.new.hours") %></span>
          <span class="text-jw-bokara-gray"><%= field_service_report.hours %></span>
        </p>
      </div>
    <% end %>

    <% if field_service_report.comments.present? %>
      <div class="py-2">
        <p class="flex flex-col justify-between text-sm leading-6">
          <span class="text-jw-bokara-gray/50"><%= t("field_service_reports.new.comments") %></span>
          <span class="text-jw-bokara-gray"><%= field_service_report.comments %></span>
        </p>
      </div>
    <% end %>
  </div>
</div>
