<section class="flex flex-col gap-8 h-full">
  <div class="col-span-full">
    <h1 class="text-3xl font-semibold"><%= t("field_service_reports.title.plural") %></h1>
    <p class="text-lg mt-2"><%= t("field_service_groups.title.variant.singular") %> <%= @field_service_group.number %></p>
  </div>

  <% if @field_service_reports.any? %>
    <section class="grid grid-cols-3 gap-8">
      <%= render @field_service_reports %>
    </section>
  <% else %>
    <%= render "empty" %>
  <% end %>
</section>
