<section class="flex flex-col gap-8 h-full">
  <h1 class="col-span-full text-3xl font-semibold"><%= t("field_service_groups.title.singular") %> <%= @field_service_group.number %> · <%= t("field_service_reports.title.plural") %></h1>

  <div class="col-span-full flex justify-between gap-2">
    <h2 class="text-xl font-medium"><%= reports_date(params[:month]) %></h2>

    <%= turbo_frame_tag "request_field_service_reports" do %>
      <%= form_with url: { action: "index" }, method: :get, data: { controller: "form", action: "input->form#submit", turbo_frame: "list_field_service_reports", turbo_action: "advance" } do |form| %>
        <%= form.select :month, month_options(params[:month]), {}, class: control_style %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "list_field_service_reports" do %>
    <% if @field_service_reports.any? %>
      <section class="grid grid-cols-3 gap-8">
        <%= render @field_service_reports %>
      </section>
    <% else %>
      <%= render "empty" %>
    <% end %>
  <% end %>
</section>
