<section class="grid grid-cols-4 gap-8">
  <h1 class="col-span-full text-3xl font-semibold"><%= t("field_service_reports.title.singular") %></h1>

  <%= form_with model: @field_service_report, class: "col-span-2" do |form| %>
    <h2 class="flex justify-between items-center gap-2 text-xl font-medium">
      <%= @publisher.name %>
      <% if @publisher.privilege_of_service %>
        <span class="inline-flex items-center rounded-md bg-jw-bunting/50 px-2 py-1 text-xs font-medium text-jw-white ring-1 ring-inset ring-jw-bunting"><%= t("publishers.privilege_of_service.#{@publisher.privilege_of_service.parameterize(separator: '_')}") %></span>
      <% end %>
    </h2>

    <div data-controller="form" class="mt-6 grid grid-cols-2 gap-6 p-6 bg-jw-seashell rounded-xl">
      <div class="flex flex-col gap-2 col-span-1">
        <%= form.label :month, t("field_service_reports.new.month"), class: label_style %>
        <%= form.select :month, month_options, {}, class: control_style %>
      </div>

      <div class="flex flex-col gap-2 col-span-1">
        <%= form.label :year, t("field_service_reports.new.year"), class: label_style %>
        <%= form.select :year, year_options, {}, class: control_style %>
      </div>

      <div class="flex items-center gap-2 col-span-full">
        <%= form.check_box :shared_in_ministry, data: { action: "change->form#toggle" }, class: "h-4 w-4 rounded border-jw-san-marino/25 text-jw-san-marino focus:ring-jw-san-marino" %>
        <%= form.label :shared_in_ministry, t("field_service_reports.new.shared_in_ministry"), class: label_style %>
      </div>

      <div class="flex flex-col gap-2 col-span-1">
        <%= form.label :bible_studies, t("field_service_reports.new.bible_studies"), class: label_style %>
        <%= form.text_field :bible_studies, data: { form_target: "control" }, disabled: true, class: control_style %>
      </div>

      <% if @publisher.privilege_of_service %>
        <div class="flex flex-col gap-2 col-span-1">
          <%= form.label :hours, t("field_service_reports.new.hours"), class: label_style %>
          <%= form.text_field :hours, data: { form_target: "control" }, disabled: true, class: control_style %>
        </div>
      <% end %>

      <div class="flex flex-col gap-2 col-span-full">
        <%= form.label :comments, t("field_service_reports.new.comments"), class: label_style %>
        <%= form.text_area :comments, class: "#{control_style} resize-none" %>
      </div>
    </div>

    <%= form.hidden_field :publisher_id, value: @publisher.id %>

    <%= form.submit t("field_service_reports.create.title"), class: "mt-6 p-2.5 bg-jw-san-marino rounded-md font-medium text-sm text-center cursor-pointer" %>
  <% end %>
</section>
