<li class="group grid grid-cols-7 gap-6 px-6 py-3 bg-jw-white last:rounded-b-lg hover:bg-jw-seashell">
  <p class="fieldServiceReportProperty"><%= field_service_report_month(field_service_report, index) %></p>
  <p class="fieldServiceReportProperty"><%= field_service_report_shared_in_ministry(field_service_report) %></p>
  <p class="fieldServiceReportProperty"><%= field_service_report_bible_studies(field_service_report) %></p>
  <p class="fieldServiceReportProperty"><%= field_service_report_bible_auxiliary_pioneer(field_service_report) %></p>
  <p class="fieldServiceReportProperty"><%= field_service_report_hours(field_service_report) %></p>
  <p class="fieldServiceReportProperty col-span-2 whitespace-nowrap overflow-hidden text-ellipsis"><%= field_service_report_comments(field_service_report) %></p>
</li>
