<%= form_with(model: publisher, class: "col-span-3") do |form| %>
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
      <div class="px-6 py-4 bg-jw-bunting rounded-t-lg ring-2 ring-inset ring-jw-san-marino">
        <h2 class="font-inter font-medium text-base text-jw-white"><%= t("publisher.title.singular") %></h2>
      </div>

      <div class="grid grid-cols-2 gap-6 p-6 bg-jw-white rounded-b-lg">
        <div class="flex flex-col gap-2">
          <%= form.label :first_name, t("publisher.first_name"), class: "label" %>
          <%= form.text_field :first_name, class: "control" %>
        </div>

        <div class="flex flex-col gap-2">
          <%= form.label :last_name, t("publisher.last_name"), class: "label" %>
          <%= form.text_field :last_name, class: "control" %>
        </div>

        <div class="flex flex-col gap-2">
          <%= form.label :date_of_birth, t("publisher.date_of_birth"), class: "label" %>
          <%= form.date_field :date_of_birth, class: "control" %>
        </div>

        <div class="col-span-full">
          <%= tag.fieldset class: "grid grid-cols-2 gap-x-6" do %>
            <%= tag.legend t("publisher.gender.title"), class: "legend" %>

            <div class="flex items-center gap-2">
              <%= form.radio_button :gender, "male", class: "radio" %>
              <%= form.label :gender_male, t("publisher.gender.male"), class: "label" %>
            </div>

            <div class="flex items-center gap-2">
              <%= form.radio_button :gender, "female", class: "radio" %>
              <%= form.label :gender_female, t("publisher.gender.female"), class: "label" %>
            </div>
          <% end %>
        </div>

        <div class="flex flex-col gap-2">
          <%= form.label :date_of_baptism, t("publisher.date_of_baptism"), class: "label" %>
          <%= form.date_field :date_of_baptism, class: "control" %>
        </div>

        <div class="col-span-full">
          <%= tag.fieldset class: "grid grid-cols-2 gap-x-6" do %>
            <%= tag.legend t("publisher.group.title"), class: "legend" %>

            <div class="flex items-center gap-2">
              <%= form.radio_button :group, "other_sheep", class: "radio" %>
              <%= form.label :group_other_sheep, t("publisher.group.other_sheep"), class: "label" %>
            </div>

            <div class="flex items-center gap-2">
              <%= form.radio_button :group, "anointed", class: "radio" %>
              <%= form.label :group_anointed, t("publisher.group.anointed"), class: "label" %>
            </div>
          <% end %>
        </div>

        <div class="col-span-full">
          <%= tag.fieldset class: "grid grid-cols-2 gap-x-6 gap-y-2" do %>
            <%= tag.legend t("publisher.service_privilege.title"), class: "legend" %>

            <div class="flex items-center gap-2">
              <%= form.radio_button :service_privilege, "auxiliary_pioneer", class: "radio" %>
              <%= form.label :service_privilege_auxiliary_pioneer, t("publisher.service_privilege.auxiliary_pioneer"), class: "label" %>
            </div>

            <div class="flex items-center gap-2">
              <%= form.radio_button :service_privilege, "regular_pioneer", class: "radio" %>
              <%= form.label :service_privilege_regular_pioneer, t("publisher.service_privilege.regular_pioneer"), class: "label" %>
            </div>

            <div class="flex items-center gap-2">
              <%= form.radio_button :service_privilege, "special_pioneer", class: "radio" %>
              <%= form.label :service_privilege_special_pioneer, t("publisher.service_privilege.special_pioneer"), class: "label" %>
            </div>

            <div class="flex items-center gap-2">
              <%= form.radio_button :service_privilege, "field_missionary", class: "radio" %>
              <%= form.label :service_privilege_field_missionary, t("publisher.service_privilege.field_missionary"), class: "label" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <div class="px-6 py-4 bg-jw-bunting rounded-t-lg ring-2 ring-inset ring-jw-san-marino">
        <h2 class="font-inter font-medium text-base text-jw-white"><%= t("field_service_group.title.variant.singular") %></h2>
      </div>

      <div class="flex flex-col gap-6 p-6 bg-jw-white rounded-b-lg">
        <%= tag.fieldset class: "flex flex-col gap-y-2" do %>
          <% field_service_groups.each do |group| %>
            <div class="flex items-center gap-2">
              <%= form.radio_button :field_service_group_id, group.id, checked: (publisher.field_service_group_id == group.id), class: "radio" %>
              <%= form.label :"field_service_group_id_#{ group.id }", "#{ t("publisher.field_service_group") } #{ group.number }", class: "label" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form.submit @action, class: "w-60 submit" %>
<% end %>
