<li class="group grid grid-cols-3 px-6 py-3 bg-jw-white last:rounded-b-lg hover:bg-jw-seashell">
  <%= link_to publisher.name, publisher_path(publisher), class: "flex items-center font-inter font-medium text-base text-jw-onyx hover:text-jw-san-marino" %>

  <p class="flex justify-center items-center font-inter font-medium text-base text-jw-san-marino">
    <% if publisher.service_privilege.present? %>
      <span class="inline-block bg-jw-san-marino/10 px-3 py-1 rounded-lg"><%= t("publisher.service_privilege.#{ publisher.service_privilege }") %></span>
    <% end %>
  </p>

  <% if publisher.has_field_service_report_from_last_month? %>
    <span class="h-8 flex justify-center items-center text-jw-success"><%= inline_svg_tag "icons/success.svg", class: "w-6" %></span>
  <% else %>
    <p class="flex justify-center items-center font-inter font-medium text-base text-jw-onyx text-right">
      <%= link_to new_field_service_group_publisher_field_service_report_path(publisher.field_service_group, publisher), class: "opacity-0 group-hover:opacity-100 flex items-center gap-1 px-2 py-1.5 font-inter font-medium text-sm text-jw-white bg-jw-bunting rounded-lg" do %>
        <%= inline_svg_tag "icons/add.svg", class: "w-4 text-jw-white" %><%= t("field_service_report.new.title") %>
      <% end %>
    </p>
  <% end %>
</li>
