<section class="grid grid-cols-3 gap-8">
  <div class="col-span-full">
    <h1 class="text-3xl font-semibold"><%= t("publishers.title.plural") %></h1>
    <p class="text-lg mt-2"><%= t("field_service_groups.title.variant.singular") %> <%= @field_service_group.number %></p>
  </div>

  <h2 class="col-span-full flex justify-between items-center gap-2 text-xl font-medium"><%= last_month_date %></h2>

  <% if @publishers.any? %>
    <%= render @publishers %>
  <% else %>
    <%= render "empty" %>
  <% end %>
</section>
