<% content_for(:title) { t("publisher.title.singular") } %>

<section class="flex flex-col gap-8 h-full">
  <div class="flex justify-between items-start">
    <div>
      <h1 class="font-inter font-bold text-xl leading-6 text-jw-white"><%= t("publisher.title.singular") %></h1>
      <p class="mt-2 font-inter font-medium text-base text-jw-quick-silver"><%= @publisher.name %></p>
    </div>

    <div>
      <%= link_to t("publisher.edit.title"), edit_publisher_path(@publisher), class: "commit" %>
    </div>
  </div>

  <div class="flex flex-col gap-6 h-full">
    <div class="flex justify-between">
      <% if @publisher.service_privilege.present? %>
        <p class="w-fit px-3 py-2 rounded-lg ring-2 ring-inset ring-jw-onyx font-inter font-medium text-base text-jw-white"><%= t("publisher.service_privilege.#{ @publisher.service_privilege }") %></p>
      <% end %>
      <p class="ml-auto w-fit px-3 py-2 rounded-lg ring-2 ring-inset ring-jw-onyx font-inter font-medium text-base text-jw-white"><%= current_year %></p>
    </div>
    
    <div class="grid grid-cols-4 gap-6">
      <div class="flex flex-col gap-2 px-6 py-4 rounded-lg bg-jw-white">
        <p class="font-inter font-medium text-base text-jw-onyx"><%= @publisher.date_of_birth.present? ? l(@publisher.date_of_birth, format: "%d %B %Y") : "-" %></p>
        <p class="font-inter font-medium text-xs uppercase text-jw-quick-silver"><%= t("publisher.date_of_birth") %></p>
      </div>

      <div class="flex flex-col gap-2 px-6 py-4 rounded-lg bg-jw-white">
        <p class="font-inter font-medium text-base text-jw-onyx"><%= @publisher.date_of_baptism.present? ? l(@publisher.date_of_baptism, format: "%d %B %Y") : "-" %></p>
        <p class="font-inter font-medium text-xs uppercase text-jw-quick-silver"><%= t("publisher.date_of_baptism") %></p>
      </div>

      <div class="flex flex-col gap-2 px-6 py-4 rounded-lg bg-jw-white">
        <p class="font-inter font-medium text-base text-jw-onyx"><%= @publisher.gender.present? ? t("publisher.gender.#{ @publisher.gender }") : "-" %></p>
        <p class="font-inter font-medium text-xs uppercase text-jw-quick-silver"><%= t("publisher.gender.title") %></p>
      </div>

      <div class="flex flex-col gap-2 px-6 py-4 rounded-lg bg-jw-white">
        <p class="font-inter font-medium text-base text-jw-onyx"><%= @publisher.group.present? ? t("publisher.group.#{ @publisher.group }") : "-" %></p>
        <p class="font-inter font-medium text-xs uppercase text-jw-quick-silver"><%= t("publisher.group.title") %></p>
      </div>
    </div>
    
    <div>
      <div class="grid grid-cols-7 gap-6 items-center px-6 py-4 bg-jw-bunting rounded-t-lg ring-2 ring-inset ring-jw-san-marino">
        <p class="font-inter font-medium text-base text-jw-white text-center"><%= t("publisher.congregation_record.service_year") %> <%= current_year %></p>
        <p class="font-inter font-medium text-base text-jw-white text-center"><%= t("publisher.congregation_record.shared_in_ministry") %></p>
        <p class="font-inter font-medium text-base text-jw-white text-center"><%= t("publisher.congregation_record.bible_studies") %></p>
        <p class="font-inter font-medium text-base text-jw-white text-center"><%= t("publisher.congregation_record.auxiliary_pioneer") %></p>
        <p class="font-inter font-medium text-base text-jw-white text-center"><%= t("publisher.congregation_record.hours") %></p>
        <p class="font-inter font-medium text-base text-jw-white text-center col-span-2"><%= t("publisher.congregation_record.remarks") %></p>
      </div>

      <ul class="contents divide-y-2 divide-jw-seashell">
        <% @field_service_reports.each_with_index do |field_service_report, index| %>
          <%= render "field_service_report", field_service_report: field_service_report, index: index %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
