<%= form_with(model: field_service_group, data: { controller: "form-validation", form_validation_target: "fieldServiceGroup", action: "submit->form-validation#validate input->form-validation#clean", turbo: false }) do |form| %>
  <div class="flex flex-col">
    <div class="px-6 py-4 bg-jw-bunting rounded-t-lg ring-2 ring-inset ring-jw-san-marino">
      <h2 class="font-inter font-medium text-base text-jw-white"><%= t("field_service_group.title.singular") %></h2>
    </div>

    <div class="grid grid-cols-2 gap-6 p-6 bg-jw-white rounded-b-lg">
      <div class="flex flex-col" data-control="number">
        <%= form.label :number, t("field_service_group.number"), class: "label" %>
        <%= form.number_field :number, class: "control" %>
      </div>
    </div>
  </div>

  <%= form.submit commit, class: "w-60 submit" %>
<% end %>
