<aside class="flex flex-col gap-6 p-6 bg-jw-onyx border-r-2 border-jw-bokara-gray">
  <%= link_to "JWKit", root_path, class: "w-fit font-latina-essential font-bold text-xl leading-6 text-jw-white" %>

  <nav class="h-full">
    <ul class="flex flex-col gap-6 h-full">
      <li>
        <p class="mb-3 font-latina-essential font-medium text-xs text-jw-san-marino"><%= t("congregation") %></p>

        <ul class="flex flex-col gap-1">
          <li>
            <%= link_to field_service_groups_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg font-latina-essential font-medium text-base text-jw-white #{ current_page?(field_service_groups_path) ? "bg-jw-bunting" : "hover:bg-jw-bokara-gray" }" do %>
              <%= inline_svg_tag "icons/field_service_groups.svg", class: "w-6 #{ current_page?(field_service_groups_path) ? "text-jw-san-marino" : "text-jw-quick-silver" }" %><%= t("field_service_groups.title.variant.plural") %>
            <% end %>
          </li>
        </ul>
      </li>

      <% if (controller_name == "publishers" && action_name == "index") || (controller_name == "field_service_reports" && (action_name == "index" || action_name == "new")) %>
        <li>
          <p class="mb-3 font-latina-essential font-medium text-xs text-jw-san-marino"><%= t("field_service_groups.title.variant.singular") %></p>

          <ul class="flex flex-col gap-1">
            <li>
              <%= link_to field_service_group_publishers_path(@field_service_group.id), class: "flex items-center gap-3 px-3 py-2 rounded-lg font-latina-essential font-medium text-base text-jw-white #{ current_page?(field_service_group_publishers_path(@field_service_group.id)) ? "bg-jw-bunting" : "hover:bg-jw-bokara-gray" }" do %>
                <%= inline_svg_tag "icons/publishers.svg", class: "w-6 #{ current_page?(field_service_group_publishers_path(@field_service_group.id)) ? "text-jw-san-marino" : "text-jw-quick-silver" }" %><%= t("publishers.title.plural") %>
              <% end %>
            </li>

            <li>
              <%= link_to field_service_group_reports_path(@field_service_group.id), class: "flex items-center gap-3 px-3 py-2 rounded-lg font-latina-essential font-medium text-base text-jw-white #{ current_page?(field_service_group_reports_path(@field_service_group.id)) ? "bg-jw-bunting" : "hover:bg-jw-bokara-gray" }" do %>
                <%= inline_svg_tag "icons/field_service_reports.svg", class: "w-6 #{ current_page?(field_service_group_reports_path(@field_service_group.id)) ? "text-jw-san-marino" : "text-jw-quick-silver" }" %><%= t("field_service_reports.title.variant.plural") %>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>

      <li class="mt-auto">
        <%= link_to users_sign_out_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg font-latina-essential font-medium text-base text-jw-white hover:bg-jw-bokara-gray" do %>
          <%= inline_svg_tag "icons/sign_out.svg", class: "w-6 text-jw-quick-silver" %><%= t("passwordless.sessions.destroy.title") %>
        <% end %>
      </li>
    </ul>
  </nav>
</aside>
