<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:html_title) ? "JWKit" + " · " + yield(:html_title) : "JWKit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= debugbar_head %>
  </head>

  <body class="h-screen bg-jw-black">
    <%= content_for?(:dashboard) ? yield(:dashboard) : yield %>
    <%= debugbar_body cable: { url: "https://jwkit.local" }, activeRecord: { adapter: "postgresql" } %>
  </body>
</html>
